* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: dashed red;
    border-top-style: ridge;
    border-right: 10px dotted blue;
    font-size: 1.5rem;
    margin: 1.5em;
    padding: 1.5em;
}